<h1>Gossips#new</h1>
<p>Find me in app/views/gossips/new.html.erb</p>

<h1>Créer un nouveau potin</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<%= form_tag gossips_path, method: :post do %>
  <div>
    <%= label_tag :title, "Titre du potin" %>
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= label_tag :content, "Contenu du potin" %>
    <%= text_area_tag :content %>
  </div>

  <div>
    <%= submit_tag "Créer le potin" %>
  </div>
<% end %>

<%= link_to 'Retour à la liste des potins', root_path %>
